/*---------------------------------------------------------- Logo */

.Logo{
    width: 115px;
}

/* --------------------------------------------------------- Body do Menu */


/* LH,LIH = LI do header */
.LIH{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    /* height: 100px; */
    text-transform:capitalize;
}

/* UH = UL do Header */
.UH {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
    margin:0px;
}

.PH{
    padding-top:10px;
    height: 54px;
    margin: 0px;
}

.LIH:hover{
    color: #f88f06;

}

/* NH = Nav do Header */
.NH {
    background-color: #ffffff;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    border-bottom: 0.0625rem solid #e8e8e8;
}

.NH,
.UH {
    display: flex;
    flex-direction: row;
}

/* LH,LIH = Li do Header */
.LH {
    padding: 0 20px;
    font-family: "Raleway";
}

/* -------------------------------------------------------------------- Botão */

button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 48px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

/* LH,LIH = Li do Header */
.LH:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(202, 202, 202, 0.24);
}

button:focus~.UH {
    height: 320px;
}

/* ---------------------------------------------------------------------- Responsividade do Menu */

@media (max-width: 714px) {

    .NH,
    .UH {
        flex-direction: column;
    }

    .UH {
        text-align: center;
        align-items:center;
        margin: 0;
        height: 0;
    }

    .NH {
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;
    }

    button {
        display: flex;
        margin-right:15px;
    }

    .LH,
    .UH {
        width: 100%;
    }
}

@media (max-width: 760px) {

    .LH{
        padding: 18px;
    }
}

@media (max-width: 750px) {

    .LH{
        padding: 16px;
    }
}

@media (max-width: 740px) {

    .LH{
        padding: 14px;
    }
}

@media (max-width: 730px) {

    .LH{
        padding: 12px;
    }
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* --------------------------------------------------------- Responsividade do Menu */

@media (max-width: 2560px) /*TV 4K*/ {
    .flex{
        margin-right: 30px;
        margin-left: 50px;
        /* gap: 75px; */
        padding: 0 35px;
        display: flex;

    }
    figure{
        margin-left: -6px;
        max-width: 540px;
    }
    figcaption {
        font-size: 25px;
    }
}

@media (max-width: 1600px) /*Nest Hub Max*/ {
    .flex{
        margin-right: 30px;
        margin-left: 60px;
        /* gap: 75px; */
        padding: 0 35px;
        display: flex;

    }
    figure{
        margin-left: -15px;
        max-width: 330px;
    }
    figcaption {
        font-size: 20px;
    }
}
@media (max-width: 1440px) /*Nest Hub Max*/ {
    .flex{
        margin-right: 30px;
        margin-left: 70px;
        /* gap: 75px; */
        padding: 0 22px;
        display: flex;

    }
    figure{
        margin-left: -12px;
        max-width: 290px;
    }
    figcaption {
        font-size: 20px;
    }
}
@media (max-width: 1280px) /*Nest Hub Max*/ {
    .flex{
        margin-right: 30px;
        margin-left: 70px;
        /* gap: 75px; */
        padding: 0 22px;
        display: flex;

    }
    figure{
        margin-left: -12px;
        max-width: 255px;
    }
    figcaption {
        font-size: 17px;
    }
}
@media (max-width: 1060px) {
    .flex{
        margin-right: 30px;
        margin-left: 48px;
        gap: 100px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 18px;
        max-width: 375px;
    }
    figcaption {
        font-size: 20px;
    }
}
@media (max-width: 1024px) /*Nest Hub*/ {
    .flex{
        margin-right: 30px;
        margin-left: 42px;
        gap: 75px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 18px;
        max-width: 375px;
    }
    figcaption {
        font-size: 25px;
    }
}
@media (max-width: 912px) /*Surface Pro 7*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 52px;
        max-width: 320px;
    }
    figcaption {
        font-size: 25px;
    }
}
@media (max-width: 820px) /*iPad Air*/ {
    .flex{
        /* margin-right: 30px; */
        margin-left: 60px;
        gap: 20px;
        padding: 0 0vw;

    }
    figure{
        margin-left: 20px;
        max-width: 300px;
    }
    figcaption {
        font-size: 20px;
    }
}
@media (max-width: 768px) /*iPad Mini*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 55px;
        max-width: 580px;
    }
    figcaption {
        font-size: 25px;
    }
}
@media (max-width: 640px) /*Aleatória*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 55px;
        max-width: 580px;
    }
    figcaption {
        font-size: 25px;
    }
}
@media (max-width: 540px) /*Surface Duo*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;
        padding: 0 2vw;
    }


    figure{
        margin-left: 10px;
        max-width: 475px;
    }
    figcaption {
        font-size: 20px;
    }
}
@media (max-width: 414px) /*iPhone XR*/ {
    .flex{
        margin-right: 26px;
        margin-left: 18px;
        gap: 30px;

    }
    figure{
        margin-left: 16px;
        max-width: 330px;
    }
}
@media (max-width: 412px) /*Samsung Galaxy S20 Ultra*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;

    }
    figure{
        margin-left: 16px;
        max-width: 330px;
    }
}
@media (max-width: 412px) /*Samsung Galaxy A51/A71*/ {
    .flex{
        margin-right: 30px;
        margin-left: 18px;
        gap: 30px;

    }
    figure{
        margin-left: 11px;
        max-width: 350px;
    }
}
@media (max-width: 393px) /*Pixel 5*/ {
    .flex{
        margin-right: 30px;
        margin-left: 14px;
        gap: 30px;

    }
    figure{
        margin-left: 16px;
        max-width: 330px;
    }
}
@media (max-width: 390px) /*iPhone 12 Pro*/ {
    .flex{
        margin-right: 30px;
        margin-left: 8px;
        gap: 30px;

    }
    figure{
        margin-left: 16px;
        max-width: 330px;
    }
}

@media (max-width: 375px) /*iPhone SE*/ {
    .flex{
        margin-right: 30px;
        margin-left: 12px

    }
    figure{
        margin-left: 18px;
    }
}



@media (max-width: 360px) /*Samsung Galaxy S8+*/ {
    .flex{
        margin-right: 30px;
        margin-left: 12px;
        gap: 30px;

    }
    figure{
        margin-left: 16px;
        max-width: 330px;
    }
}
@media (max-width: 280px) /*Galaxy Fold*/ {
    .flex{
        margin-right: 30px;
        margin-left: 21px;
        gap: 30px;
        padding: 0 2vw;

    }
    figure{
        margin-left: 10px;
        max-width: 475px;
    }
    figcaption {
        font-size: 20px;
    }
}

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

/ --------------------------------------------------------- Footer /
/* LF,LIF = LI do Footer */
.LIF{
    margin: 5px;
}

.LF{
    list-style: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
}

.UF .LF{
    display: flex;
    height: 100px;
    align-items:center;
}

@media (max-width: 700px) {

    .LF{
        font-size: 13px;
    }

    .LIF{
        margin: 5px;
    }

    .NF {
        padding-left: 30px;
        padding-right: 30px;
    }

}
@media (max-width:320px) {

    .LF{
        font-size: 12px;
    }
}